* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;

  font-family: "Poppins", sans-serif;
}
/* common */
.content {
  max-width: 1170px;
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
  padding: 0 12px;
}
/* Header */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px 0px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
  margin-right: 70px;
}

.nav ul li a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}

.header .action .btn {
  min-width: 144px;
}
/* ================hero================== */
main .hero {
  padding-top: 64px;
  padding-bottom: 65px;
  background: #fffcf4;
}
.hero .frame {
  display: flex;
}
.hero .frame .info {
  margin-left: 220px;
  margin-top: 64px;
}
.hero .info h1 {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.172; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .info .subtitle {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}
.hero .row {
  display: flex;
  margin-top: 38px;
  text-align: center;
}
.hero .row .video {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.hero .row .action .btn {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: #ffb900;
}
.hero .row .video .watch-vdieo {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.667px; /* 166.667% */
  margin-top: -9px;
}
.hero .row .video img {
  margin-top: 5px;
}
.hero .info .subtitle-recent {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem-;
  font-weight: 400;
  line-height: 1.667; /* 166.667% */
}
.hero .info .row-para {
  margin-top: 8px;
  display: flex;
}
.hero .info .row-para p {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
}
.hero .info .row-para strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.227; /* 122.727% */
}
.hero .info .row-para .para2 {
  margin-left: 28px;
}
.hero .base ul li {
  margin-left: 16px;
  position: relative;
  margin-top: 14px;
}
.hero .base ul .element {
  position: absolute;
  top: 1px;
  left: 4px;
  /* margin-top: -1px; */
}
.hero .base ul .element p {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85714; /* 185.714% */
}
.hero .base ul .element h4 {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
}
.hero .base {
  position: relative;
}
.hero .base-child {
  position: absolute;
  min-width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  left: 250px;
  top: 370px;
  margin-left: 56px;
  margin-top: 28px;
}
/* =======================================Courses================== */
.Courses {
  padding-top: 200px;
  padding-bottom: 200px;
}
.Courses h2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26316; /* 126.316% */
  letter-spacing: -0.76px;
}
.Courses .row {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
}
.Courses .row .subtitle {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
  max-width: 458px; /* 166.667% */
}
.Courses .row img {
  margin-top: -55px;
}
.Courses ul {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}
.Courses ul li {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.Courses ul li .row-courses1 {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.Courses ul li .row-courses1 h3 {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
}
.Courses ul li .subtitle-courses {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85714; /* 185.714% */
  max-width: 326px;
}
.Courses ul li .row-courses2 {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Courses ul li .row-courses2 h3 {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
}
.Courses ul li .row-courses2 .action a:hover {
  background: #ffb900;
  color: #fff;
}
/* =======================Student===================== */
.Student {
  background: #2e2100;
  padding: 96px 0;
}
.Student .information {
  display: flex;
  justify-content: space-between;
}
.Student .information .people h3 {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41667;
  padding-top: 18px; /* 141.667% */
  min-width: 130px;
}
.Student .information .people p {
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85714; /* 185.714% */
  padding-top: 4px;
  min-width: 160px;
}
.Student .information .people .wait {
  margin-top: 28px;
}
.Student .information .info {
  max-width: 770px;
  /* margin-left: 271px; */
}
.Student .information .info .subtile {
  color: #fff;
  font-family: Poppins;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53846; /* 153.846% */
}
/* ========================Review========================== */
.Review {
  padding: 200px 0;
}
.Review .review-1 {
  display: flex;
  justify-content: space-between;
}
.Review .review-1 .image {
  display: flex;
}
.Review .review-1 .image-2 {
  margin-left: 30px;
  margin-top: -32px;
}
.Review .review-1 .info {
  max-width: 470px;
}
.Review .review-1 .info h2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26316; /* 126.316% */
  letter-spacing: -0.76px;
}
.Review .review-1 .info p {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.Review .review-1 .info .action {
  margin-top: 32px;
}
.Review .review-1 .info .action .btn {
  background: #ffb900;
  width: 137px;
}

.Review .review-2 {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.Review .review-2 .info {
  margin-top: 71px;
  max-width: 570px;
}
.Review .review-2 .info h2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26316; /* 126.316% */
  letter-spacing: -0.76px;
}
.Review .review-2 .info .subtile {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.Review .review-2 .info .action {
  margin-top: 32px;
}
.Review .review-2 .info .action a {
  background: #ffb900;
  width: 137px;
  height: 50px;
}
